@{
    <div id="footer" style="padding:10px;">
        <div class="col-md-2">           
        </div>
        <div class="col-md-8">
            <p style="font-size:12px;margin-top:10px;">
                &copy; @DateTime.Now.Year <a href="http://www.globalshares.com">Global Shares</a>
                - Redefining Equity Plan Management
            </p>
        </div>        
    </div>
}