@if (ViewData["Title"] != null)
{
    <div>
        <div class="col-md-10" style="padding-left:0px;">            
            @if (ViewData["Title"] != null)
            {
                <h3 class="page-title-header">@ViewData["Title"]<span class="page-title-subheader">@ViewData["SubTitle"]</span></h3>
            }
        </div>        
    </div>
    <div class="clearfix"></div>   
}