@{
    ViewBag.Title = "MaintenancePage";
    Layout = "~/MaintenanceService/Views/Shared/_Layout.cshtml";
}
@section Title
{
    @Html.Partial("Headers/_PageHeader")
}
@section TabRibbon
{
    @Html.Partial("TabRibbons/MainRibbon")
}

<div class="view-full">

</div>


